.greeting {
	position: relative;
}

.overridecontainer {
	height: 60vh;
}
.tblheader {
	background-color: rgba(255, 255, 255, 0.3);
}
.tblcontent {
	height: 300px;
	overflow-x: auto;
	margin-top: 0px;
	border: 1px solid rgba(255, 255, 255, 0.3);
}
.UpdateButton button{
    margin-bottom: 30px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 1em;
}

.dangerText {
  color: red;
  font-size: 0.8em;
  text-align: center;
  margin: 5px;
}