{% extends "base.html" %} {% block content %}
<h1 class="title">Welcome, {{ name }}!!!</h1>
<table>
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Created On</th>
		<th>Updated On</th>
		<th>Active</th>
		<th>Actions</th>
	</tr>
	{% for user in users %}
	<tr>
		<td>{{ user.name }}</td>
		<td>{{ user.email }}</td>
		<td>{{ user.created_on }}</td>
		<td>{{ user.updated_on }}</td>
		<td>{{ user.is_active }}</td>
		<td>
			<a href="/deactivate/{{ user.id }}"><button>Deactivate</button></a>
			<a href="/activate/{{ user.id }}"><button>Activate</button></a>
			<a href="/update"><button>Update Profile</button></a>
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
