{% extends "base.html" %} {% block content %}
<form method="post" action="/update">
    Name: <input type="text" name="name" value="{{ user.name }}"/>
    Email: <input type="email" name="email" value="{{ user.email }}"/>
    <button type="submit">Update</button>
</form>
{% endblock %}